header {
    background-image: url('https://raw.githubusercontent.com/lhaugh01/Assignment2B/main/Updated_Banner.png'); 
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    height: 300px; 
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    font-size: 2em;
}
